[manifest]
version = "1.0.0"
dump_lua = true
priority = 1

[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''
if AUT.badges then
'''
position = 'before'
payload = '''
if obj and obj.bgg_year then
    badges[#badges+1] = create_badge(obj.bgg_year, G.C.GREEN, G.C.WHITE, 1.0 )
end
'''
match_indent = true
times = 1